@page
@model LastTemple.Pages.Create.CreatureModel
@{
}

<p class="text-center font-weight-bold mb-2">Zarządzaj istotami</p>

<div class="row">
    <div class="col-4 pr-2 pl-2 pt-5">
        <img src="~/img/ghoul.png" class="img-thumbnail-dark"/>
    </div>

    <div class="col-8">
        <div id="creatureTable" class="tableFixHead">
            <table class="table text-light text-center">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nazwa</th>
                        <th>Typ</th>
                        <th>Poziom</th>
                        <th>Doś.</th>
                        <th>Zapasy</th>
                        <th>S</th>
                        <th>E</th>
                        <th>U</th>
                    </tr>
                </thead>
                    <tr>
                        <td></td>
                    </tr>
                <tbody>
                </tbody>

            </table>
        </div>

        <div id="creatureForm">

        </div>
    </div>
  

</div>