@page
@model LastTemple.Pages.Manage.DialoguesModel
@{
}

<div class="row">
    <div class="col-3 text-center">
        <div>
            <select class="form-control bg-secondary text-light m-2" size="@Model.Dialogues.Count">
                @foreach (var item in Model.Dialogues)
                {
                    <option> (#@item.Id) @item.Description</option>                   
                }
            </select>            
        </div>

        <form method="post">
            <input class="form-control bg-secondary text-light m-2" type="text" min="3" name="Tytuł dialogu" value="Tytuł dialogu" onclick="selectPlaceholder(this)" onfocusout="deselectPlaceholder(this)"/>                    
            <button class="btn btn-outline-success m-2">Nowy dialog</button>        
            <button class="btn btn-outline-warning m-2">Edytuj tytuł</button>        
        </form>
    </div>

    <div class="col-4 text-center">
        <span>
            <button class="btn btn-warning">    <   </button>
            <button class="btn btn-warning">    <b>+</b>    </button>
            <button class="btn btn-warning">    >   </button>
        </span> <br />

        <span class="font-weight-bold">0/x</span>

        <div class="text-justify">
            @foreach (var item in Model.Dialogues[0].SubDialogues[0].Content)
            {
                <span>@item</span><br />
            }
        </div>
    </div>

    <div class="col-5">
        @foreach (var item in Model.Dialogues)
        {
            <span>@item</span><br />
        }
    </div>
</div>

<script type="text/javascript">

    function selectPlaceholder(input) {
        if (input.value == "Tytuł dialogu") {
            input.value = "";
        }
    }

    function deselectPlaceholder(input) {
        if (input.value == "") {
            let x = input.name;
            input.value = x;
        }
    }


</script>