@page
@model LastTemple.Pages.Create.ItemModel
@{
}

<p class="text-center font-weight-bold m-2">Zarządzaj przedmiotami</p>
<div class="row">
   <div class="col-7 pl-5"></div>
   <div class="col-5 p-1 text-center">
       <img src="~/img/Potion.png" class="img-thumbnail-dark" />     
   </div>
</div>