@page
@model LastTemple.Pages.Create.WeaponModel
@{}

<p class="text-center font-weight-bold mb-2">Zarządzaj brońmi</p>

<div class="row">
    <div class="col-7 pl-5 pr-5">
        <div id="weaponTable" class="text-center"></div>
        <div id="weaponForm" class="text-center"></div>        
    </div>

    <div class="col-5 p-1">
        <img src="~/img/mace.png" class="img-thumbnail-dark"/>
    </div>
</div>