@page
@model LastTemple.Pages.Gameplay.CharacterCreation
@{
}


<form>
    <div class="text-center">
    <h3>Tworzenie bohatera</h3>
    </div>

    <div class="row">
        <div class="col-3 offset-2 mt-4">
            <div class="fixedContainer">
                <img src="~/img/hero.jpg" class="img-thumbnail-dark" style="padding: 0" />
            </div>
        </div>

        <div class="col-6">
            <div class="text-center">
                
                <label><b>Podaj imię:</b></label>
                <div class="row">
                    <div class="col-6 offset-3" data-tooltip="Od 3 do 15 liter" >
                        <input id="heroName" type="text" pattern="[A-Za-z]{3,15}" class="form-control bg-secondary text-light"/>
                    </div>
                </div>
            </div>

            <div class="row mt-3 p-2">
                <div class="col-6">
                    <div class="text-center">
                        <label><b>Co jest twoją mocną stroną:</b></label>
                    </div>

                    <div class="text-center btn-group-toggle">
                        <label class="btn btn-outline-info">
                            <input type="radio" name="selectedStrength" data-attribute="strength" checked onclick="radioSelection(this)"/> Siła
                        </label>
                        <label class="btn btn-outline-info">
                            <input type="radio" name="selectedStrength" data-attribute="endurance" onclick="radioSelection(this)"/> Wytrzymałość
                        </label>
                    </div>

                    <div class="text-center  btn-group-toggle mt-2 mb-2">
                        <label class="btn btn-outline-info">
                            <input type="radio" name="selectedStrength" data-attribute="willpower" onclick="radioSelection(this)"/> Siła Woli
                        </label>
                        <label class="btn btn-outline-info">
                            <input type="radio" name="selectedStrength" data-attribute="speed" onclick="radioSelection(this)"/> Szybkość
                        </label>
                    </div>

                    <div class="text-center  btn-group-toggle">
                        <label class="btn btn-outline-info">
                            <input type="radio" name="selectedStrength" data-attribute="agility" onclick="radioSelection(this)"/> Zręczność
                        </label>                        
                    </div>
                </div>

                <div class="col-6">
                    <div class="text-center">
                        <label><b>Co jest twoją słabą stroną:</b></label>
                    </div>

                    <div class="text-center btn-group-toggle">
                        <label class="btn btn-outline-info">
                            <input type="radio" name="selectedWeakness" data-attribute="strength" onclick="radioSelection(this)"/> Siła
                        </label>
                        <label class="btn btn-outline-info">
                            <input type="radio" name="selectedWeakness" data-attribute="endurance" onclick="radioSelection(this)"/> Wytrzymałość
                        </label>
                    </div>

                    <div class="text-center  btn-group-toggle  mt-2 mb-2">
                        <label class="btn btn-outline-info">
                            <input type="radio" name="selectedWeakness" data-attribute="willpower" checked onclick="radioSelection(this)"/> Siła Woli
                        </label>
                        <label class="btn btn-outline-info">
                            <input type="radio" name="selectedWeakness" data-attribute="speed" onclick="radioSelection(this)"/> Szybkość
                        </label>
                    </div>

                    <div class="text-center  btn-group-toggle">
                        <label class="btn btn-outline-info">
                            <input type="radio" name="selectedWeakness" data-attribute="agility" onclick="radioSelection(this)"/> Zręczność
                        </label>
                    </div>
                </div>
            </div>

            <div class="row mt-3 p-2">
                <div class="col">

                    <div class="text-center">
                        <label><b>Jaką broń preferujesz:</b></label>
                    </div>

                    <div class="text-center btn-group-toggle">
                        <label class="btn btn-outline-info">
                            <input type="radio" name="selectedWeapon" data-tooltip="Częściej atakuje i łatwiej trafić, ale mniejsze obrażenia" onchange="radioSelection(this)"/> Lekką
                        </label>
                        <label class="btn btn-outline-info">
                            <input type="radio" name="selectedWeapon" checked data-tooltip="Przeciętna szansa na trafienie i obrażenia" onchange="radioSelection(this)"/> Zbalansowaną
                        </label>
                        <label class="btn btn-outline-info">
                            <input type="radio" name="selectedWeapon" data-tooltip="Rzadziej atakuje i trudniej trafić, ale większe obrażenia" onchange="radioSelection(this)"/> Ciężką
                        </label>                       
                    </div>
                </div>
            </div>

            <div class="text-center">
                <button id="saveBtn" class="btn btn-outline-success m-2"><b>Zapisz</b></button>
            </div>

        </div>

    </div>

</form>

<script type="text/javascript">

    let heroName = document.getElementById("heroName");    

    heroName.oninput = function () { saveBtnActive(); }

    setElements();
    setSelectedButtons();
    
    function setElements(){
        $("#saveBtn").attr("disabled", true);
    }

    function saveBtnActive() {
        if (heroName.value == "") {
            $("#saveBtn").attr("disabled", true);           
        }

        else if (heroName.checkValidity()) {
            $("#saveBtn").attr("disabled", false);            
        }
        else {
            $("#saveBtn").attr("disabled", true);
        }        
    } // saveBtnActive()

    function setSelectedButtons() {
        let selectedStrength = document.getElementsByName("selectedStrength");
        let selectedWeakness = document.getElementsByName("selectedWeakness");
        let selectedWeapon = document.getElementsByName("selectedWeapon");

        for (i = 0; i < selectedStrength.length; i++) {
            if (selectedStrength[i].checked) {
                if (selectedStrength[i].parentElement.classList.contains("btn-outline-info")) {
                    selectedStrength[i].parentElement.classList.remove("btn-outline-info");
                    selectedStrength[i].parentElement.classList.add("btn-info");
                }
            }
            else {
                if (selectedStrength[i].parentElement.classList.contains("btn-info")) {
                    selectedStrength[i].parentElement.classList.remove("btn-info");
                    selectedStrength[i].parentElement.classList.add("btn-outline-info");
                }
            }
        } // for selectedStrength

        for (i = 0; i < selectedWeakness.length; i++) {
            if (selectedWeakness[i].checked) {
                if (selectedWeakness[i].parentElement.classList.contains("btn-outline-info")) {
                    selectedWeakness[i].parentElement.classList.remove("btn-outline-info");
                    selectedWeakness[i].parentElement.classList.add("btn-info");
                }
            }
            else {
                if (selectedWeakness[i].parentElement.classList.contains("btn-info")) {
                    selectedWeakness[i].parentElement.classList.remove("btn-info");
                    selectedWeakness[i].parentElement.classList.add("btn-outline-info");
                }
            }
        } // for selectedWeakness

        for (i = 0; i < selectedWeapon.length; i++) {
            if (selectedWeapon[i].checked) {
                if (selectedWeapon[i].parentElement.classList.contains("btn-outline-info")) {
                    selectedWeapon[i].parentElement.classList.remove("btn-outline-info");
                    selectedWeapon[i].parentElement.classList.add("btn-info");
                }
            }
            else {
                if (selectedWeapon[i].parentElement.classList.contains("btn-info")) {
                    selectedWeapon[i].parentElement.classList.remove("btn-info");
                    selectedWeapon[i].parentElement.classList.add("btn-outline-info");
                }
            }
        } // for selectedWeapon
    } // setSelectedButtons()

    function radioSelection(element) {
        let buttons = document.getElementsByName(element.name);
       
        let elementGroupName = element.name;
        let secondGroupName; 
        let secondGroup; 

        if (elementGroupName == "selectedStrength") {
            secondGroupName = "selectedWeakness";
        }

        else {
            secondGroupName = "selectedStrength";
        }
        
        secondGroup = document.getElementsByName(secondGroupName);
        
        for (i = 0; i < secondGroup.length; i++) {
            
            if (secondGroup[i].dataset.attribute == element.dataset.attribute) {                
                if (secondGroup[i].checked == true)                    
                    return false;
            }
        }

        for (i = 0; i < buttons.length; i++) {
            if (buttons[i].checked) {
                if (buttons[i].parentElement.classList.contains("btn-outline-info")) {
                    buttons[i].parentElement.classList.remove("btn-outline-info");
                    buttons[i].parentElement.classList.add("btn-info");
                }   
            }       
            else {  
                if (buttons[i].parentElement.classList.contains("btn-info")) {
                    buttons[i].parentElement.classList.remove("btn-info");
                    buttons[i].parentElement.classList.add("btn-outline-info");
                }
            }
        } // for
    } // radioSelection()
    

    

</script>