@page
@model LastTemple.Pages.Gameplay.IntroductionModel
@{
}


<form>

    <div class="row">
        <div class="col-3 offset-2">
            <div class="fixedContainer">
                <img src="~/img/hero.jpg" class="img-thumbnail-dark" style="padding: 0" />
            </div>
        </div>

        <div class="col-6">
            <div class="text-center">
                <label>Podaj imię:</label>
                <div class="row">
                    <div class="col-6 offset-3">
                        <input type="text" pattern="[A-Za-z]{3,15}" class="form-control bg-secondary text-light" />
                    </div>
                </div>
            </div>

            <div class="row mt-3 p-2">
                <div class="col-6">
                    <div class="text-center">
                        <label>Co jest twoją mocną stroną:</label>
                    </div>

                    <div class="text-center">
                        <button class="btn btn-outline-info m-2">Siła</button>
                        <button class="btn btn-outline-info  m-2">Wytrzymałość</button>
                    </div>

                    <div class="text-center">
                        <button class="btn btn-outline-info m-2">Siła Woli</button>
                        <button class="btn btn-outline-info  m-2">Szybkość</button>
                    </div>

                    <div class="text-center">
                        <button class="btn btn-outline-info  m-2">Zręczność</button>
                    </div>
                </div>

                <div class="col-6">
                    <div class="text-center">
                        <label>Co jest twoją słabą stroną:</label>
                    </div>

                    <div class="text-center">
                        <button class="btn btn-outline-info m-2">Siła</button>
                        <button class="btn btn-outline-info  m-2">Wytrzymałość</button>
                    </div>

                    <div class="text-center">
                        <button class="btn btn-outline-info m-2">Siła Woli</button>
                        <button class="btn btn-outline-info  m-2">Szybkość</button>
                    </div>

                    <div class="text-center">
                        <button class="btn btn-outline-info  m-2">Zręczność</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    

   




</form>