@page
@model LastTemple.Pages.Gameplay.MapModel
@{
}

<div class="text-center">
    
    <span><b>Zapasy: 153</b><img class="icon" src="~/img/supplies.svg"/></span>         
    <img src="~/img/map.jpg" class="map mt-2"/>           
        
        
    
</div>