@page
@model LastTemple.Pages.Gameplay.MapModel
@{
}

<div class="text-center"><h3>Świat po Ciszy</h3></div>

<div id="mainDiv" class="mapContainer">    
    <img id="map" src="~/img/map.jpg" class="mt-2"/>  
    
    @foreach (var location in Model.Locations)
    {
        if(location.Discovered == true)
        {
            <button name="mapMark" class="btn btn-light location" data-Width="@location.Width" data-Height="@location.Height">@location.Name</button>
        }
    }
       
</div>

<script type="text/javascript">

    let mainDiv = document.getElementById("mainDiv");
    setButtons();
    
    function setButtons() {
        let mapH = document.getElementById("map").clientHeight;
        let mapW = document.getElementById("map").clientWidth;
        
        let buttons = document.getElementsByName('mapMark');

        for (i = 0; i < buttons.length; i++) {            
            buttons[i].style.top = mapH * buttons[i].dataset.height.replace(',', '.') + 'px';
            buttons[i].style.left = mapW * buttons[i].dataset.width.replace(',', '.') + 'px';             
        }

    }

</script>