<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LastTemple</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg mb-1 navbar-dark">
            <div class="d-flex mx-auto">

                <a class="navbar-brand font-weight-bold" asp-area="" asp-page="/Index">Last Temple</a>

                <button class="navbar-toggler bg-success" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-page="/Index">Główna</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-page="/Index">O grze</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-light" href="#" data-toggle="dropdown" role="button"
                               aria-expanded="false" id="subMenu" aria-haspopup="true">
                                Zarządzaj
                            </a>

                            <div class="dropdown-menu" aria-labelledby="subMenu">
                                <a class="dropdown-item" asp-area="" asp-page="/Manage/Creature">Istoty</a>
                                <a class="dropdown-item" asp-area="" asp-page="/Manage/Weapon">Broń</a>

                                <div class="dropdown-divider"></div>

                                <a class="dropdown-item" asp-area="" asp-page="/Manage/Armor">Pancerze</a>
                                <a class="dropdown-item" asp-area="" asp-page="/Manage/Item">Przedmioty</a>

                                <div class="dropdown-divider"></div>

                                <a class="dropdown-item" asp-area="" asp-page="/Manage/Spell">Zaklęcia</a>
                            </div>


                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-page="/Index">Świat</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-page="/Index">O autorze</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-page="/Index">Logout</a>
                        </li>

                    </ul>
                </div>

            </div>


        </nav>
    </header>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <div class="container text-light">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="text-center text-light">
            &copy; 2021 - <a asp-area="" asp-page="/Index" class="text-light"><b>Last Temple</b></a>
        </div>
    </footer>


    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
