<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LastTemple</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg mb-1 navbar-dark">
            <div class="d-flex mx-auto">

                <a class="navbar-brand font-weight-bold" asp-area="" asp-page="/Index">Last Temple</a>

                <button class="navbar-toggler bg-success" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-page="/Index">About</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-light" href="#" data-toggle="dropdown" role="button"
                            aria-expanded="false" id="subMenu" aria-haspopup="true">
                            Create</a>

                            <div class="dropdown-menu" aria-labelledby="subMenu">
                                <a class="dropdown-item" asp-area="" asp-page="/Create/Creature">Creature</a>
                                <a class="dropdown-item" href="#">Weapon</a>

                                <div class="dropdown-divider"></div>

                                <a class="dropdown-item" href="#">Armour</a>
                                <a class="dropdown-item" href="#">Item</a>

                                <div class="dropdown-divider"></div>

                                <a class="dropdown-item" href="#">Spell</a>                              
                            </div>   


                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-page="/Index">World</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-page="/Index">Logout</a>
                        </li>

                    </ul>
                </div>

            </div>
            
            
        </nav>
    </header>

    <div class="container text-light">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-light">
        <div class="container">
            &copy; 2021 - LastTemple - <a asp-area="" asp-page="/Index">Index</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
