@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4 font-weight-normal mb-3">Witaj w Ostatniej Świątyni!</h1>
    <figure>
        <a asp-page="/Gameplay/BattleManager"> <img src="~/img/entrance.jpg" alt="Entrance to the Last Temple" /> </a>       
        <figcaption>Wejście do Świątyni</figcaption>
    </figure>
   
</div>
